.image {
  width: 24px;
  height: 70.4px;
  background-image: url(images/icon-side.png);
  display: block;
  float: bottom;
}
.a {
  background-position-y: -70px;
}
.b {
  background-position-y: -140px;
}
.c {
  background-position-y: -210px;
}
.d {
  background-image: url(images/icon-train-ticket（1）.png);
  width: 28px;
  height: 19px;
  top: 30px;
  right: 50%;
  margin-right: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.e {
  background-position-y: -280px;
  float: bottom;
}
.f {
  background-position-y: -350px;
}
body {
  background: url(images/bg.gif);
}
.site-side-navigation .li .a .span {
  width: 100%;
  display: block;
  position: absolute;
  background-position-x: 0px;
  padding-top: 40px;
  line-height: 1.2em;
}
.site-side-navigation ul li a {
  display: block;
  height: 80px;
  color: #33322f;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.4;
  position: relative;
  transition: all 0.4s cubic-bezier(0.52, 0.48, 0.15, 0.97);
}
.site-side-navigation {
  left: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  height: 100%;
  position: absolute;
}
.site-side-navigation .ul .li.ticket .a .span {
  bottom: 5px;
}
.site-side-navigation ul li a {
  padding-top: 45px;
}
.site-side-navigation .ul .li.estate .span {
  bottom: 6px;
}
.site-header-navigation--ja {
  background-color: #fff;
  color: #fff;
}
.site-header-navigation {
  display: none;
}
.site-header-navigation ul {
  text-align: right;
  font-size: 0;
}
.site-header-navigation--ja ul li {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  bottom: 10px;
  left: 250px;
}
.site-header-navigation--ja .lang {
  width: 150px;
  margin-left: 30px;
  margin-right: 0;
  padding-left: 0;
  position: relative;
  bottom: 15px;
  left: 250px;
}
.site-header-navigation--ja .lang > a {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #666666;
  color: #fff;
}
.site-header-navigation--ja .lang > a span {
  display: block;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 15px;
  background: url(images/icon-menu-language.png) no-repeat 0 50%;
  background-size: auto 20px;
}
.site-header-navigation--ja .lang ul {
  width: 150px;
  background-color: #666;
  right: 0;
}
.site-header-navigation .lang ul {
  width: 100px;
  z-index: 10;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.52, 0.48, 0.15, 0.97);
}
.site-header-navigation--ja {
  float: right;
  list-style-type: none;
  letter-spacing: 5px;
  position: relative;
  right: 380px;
  width: 953px;
  height: 30px;
}
.site-header-navigation ul li.search .search-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.site-header-navigation--ja :link {
  text-decoration: none;
}
.site-header-navigation--ja :visited {
  text-decoration: underline;
}
.site-header-navigation--ja :hover {
  text-decoration: underline;
}
.right {
  display: block;
  position: relative;
  bottom: 10px;
  left: 900px;
  color: #f57f31;
  border: 2px solid #f57f31;
  background-color: #ffefe5;
  width: 250px;
  letter-spacing: 2px;
}
.train {
  display: block;
  position: absolute;
  left: 400px;
  top: 70px;
  background-color: #599970;
  color: white;
  width: 450px;
  height: 45px;
  border: 2px solid #14a94b;
}
.da {
  display: block;
  left: 200px;
  top: 230px;
  position: absolute;
  border: 10px solid #fff;
}
.xiao {
  display: block;
  position: absolute;
  left: 700px;
  top: -25px;
  border: 5px solid #fff;
}
.left {
  height: 0;
  display: block;
  /* overflow: hidden; */
  padding-top: 76px;
  /* background: url(images/logo.png) no-repeat 50% 50%; */
  background-size: contain;
  position: relative;
  left: 200px;
  top: -20px;
}
.middle span {
  display: block;
  position: absolute;
  left: 575px;
  top: 75px;
  /* background-color: white; */
  width: 270px;
  height: 40px;
  text-align: center;
}
.middle {
  background-image: url(images/icon-status.png);
  width: 40px;
  height: 30px;
}
.middle .right .zi {
  position: absolute;
  left: -55px;
  top: 10px;
}
.middle .bai {
  background-color: white;
}
.middle .right .zi2 {
  position: absolute;
  right: 0px;
  bottom: 2px;
}
.zhongjian {
  position: relative;
  width: 990px;
  height: 375px;
  background-color: white;
  top: 10px;
  left: 0px;
  border-width: 4px;
  border-color: #14a94b;
  border-style: solid;}
.zhongjian .zhongshang {
  background-color: #14a94b;
  width:333.67px;
  /* border-width: 4px;
  border-color: #14a94b;
  border-style: solid; */
  height: 55px;
  cursor: pointer;
}

.zhongjian .zhong {
  position: absolute;
  width: auto;
  height:80px;
  float: right;
  left: 340px;
  bottom: 290px;
}
.zhongjian .zhongyou {
  position: absolute;
  width: auto;
  height: auto;
  float: right;
  left: 630px;
  bottom: 310px;
}
.fen {
  position: relative;
  left: 200px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 49px;
  top: 45px;
}
.zuo {
  width: 68px;
  height: 55px;
  display: block;
  background-image: url(images/menu-icon@2x.png);
  background-position-x: -250px;
  position: relative;
  left: 80px;
  top: 10px;
}
.piaojia {
  position: relative;
  left: 100px;
  top: 20px;
  font-weight: 900;
  font-size: large;
  font-family: "YaHei";
}
.zuo .piaojia {
  background-color: #e1efd8;
  color: #33322f;
  padding-left: 20px;
  letter-spacing: 0.1em;
}
.jianhao {
  background-image: url(images/icon-blt.png);
  position: relative;
  width: 12px;
  height: 18px;
  display: inline-block;
  left: 200px;
}
.kuang {
  width: 322px;
  height: 90px;
  background-color: #e1efd8;
  position: relative;
  left: 50px;
  top: 20px;
}
.kuangzhong {
  background-image: url(images/menu-icon@2x.png);
  display: block;
  position: relative;
  top: 15px;
  width: 68px;
  height: 58px;
  left: 30px;
  background-position-x: -515px;
}
.shijian {
  position: relative;
  left: 90px;
  top: 15px;
  font-weight: 900;
  font-size: large;
  font-family: "YaHei";
  white-space: nowrap;
}
.jiantou{  background-image: url(images/icon-blt.png);
  position: relative;
  width: 12px;
  height: 18px;
  display: inline-block;
  left: 250px;
  bottom: 10px;
}
.xiaolv {
  width: 322px;
  height: 90px;
  background-color: #e1efd8;
  position: relative;
  left: 330px;
  bottom:55px;
}
.kuangyou{
  background-image: url(images/menu-icon@2x.png);
  display: block;
  position: relative;
  bottom: 130px;
  width: 68px;
  height: 63px;
  left: 30px;
  top:10px;
}
.qingbao{
  position: relative;
  left: 90px;
  top: 20px;
  font-weight: 900;
  font-size: large;
  font-family: "YaHei";
  white-space: nowrap;
}
.fuhao{
  background-image: url(images/icon-blt.png);
  position: relative;
  width: 12px;
  height: 18px;
  display: inline-block;
  left: 165px;
  bottom:5px;
}
.beijing{  width: 220px;
  height: 90px;
  background-color: #e1efd8;
  position: relative;
  left: 680px;
  bottom:145px;}